<div class="container" [ngStyle]="{'width.px': (24 * width)}">
  <div>
    <table *ngIf="minefield" class="minefield">
      <tr *ngFor="let row of minefield; let columnIndex = index">
        <td *ngFor="let cell of row; let rowIndex = index"
        (click)="select($event, cell, columnIndex, rowIndex)"
        (dblclick)="selectNeighbours($event, cell, columnIndex, rowIndex)"
        (contextmenu)="flag($event, cell, columnIndex, rowIndex)">
        <img src="assets/{{cell.imageSrc}}" />
        </td>
      </tr>
    </table>
  </div>
  <div class="separator"></div>
  <div>
    <span *ngIf="gameState == 0 && flagCounter &lt; 0"><b>Too much</b> mines found...</span>
    <span *ngIf="gameState == 0 && flagCounter == 1"><b>Last</b> mine to find...</span>
    <span *ngIf="gameState == 0 && flagCounter &gt; 1"><b>{{flagCounter}}</b> mines to find...</span>
    <br />
    <input type="text" maxlength="2" [(ngModel)]="newWidth" /> width
    <br />
    <input type="text" maxlength="2" [(ngModel)]="newHeight" /> height
    <br />
    <input type="text" maxlength="2" [(ngModel)]="newMinePercent" /> % mine probability
    <br />
    <button (click)="restart()">Restart</button>
  </div>
  <div class="separator"></div>
  <div *ngIf="gameState == 1" class="lose">Game over</div>
  <div *ngIf="gameState == 2" class="win">Victory</div>
</div>